.kvadratas {
    text-align: center;
    width: 223px;
    height: 223px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    span {
        font-size: 30px;
    }
    &.br {
        background-color: green;
    }
}

.modal {
    position: fixed;
    top: 200px;
    left: calc(50% - 125px);
    background-color: white;
    height: 200px;
    width: 250px;
    border: 4px dashed greenyellow;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 200px;
    width: 500px;
    border: 4px dashed greenyellow;
    padding: 10px;
    span {
        font-size: 50px;
        font-weight: bold;
        color: chartreuse;
        padding: 5px;
        border: 1px solid chartreuse;
        margin: 5px;
    }
}

.field-button {
    margin: 13px;
    width: 150px;
    background-color: chartreuse;
}